---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection("tabi");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout
    title={entry.data.title}
    description={entry.data.description}
    type="旅行記"
    breadcrumbs={[
        {title: "旅行記", href: "/tabi/"},
        ...entry.data.breadcrumbs.map((b) => ({title: b.title, href: "/tabi"+b.href})),
    ]}
    datePublished={entry.data.datePublished}
    dateModified={entry.data.dateModified}
>
    <div class="markdown-body">
        <script is:inline async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        <Content />
    </div>
</MainLayout>
