.container {
  padding: 1rem;
}
.tiptap {
  max-width: 69vw;
  margin: 0 auto;
  p {
    padding: 6px;
  }
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  img {
    display: block;
    max-width: 90%;
  }
}
.ProseMirror {
  height: 60vh;
  border: none;
  overflow-y: scroll;
  &:focus {
    padding: auto;
    // max-width: 68vw;
    outline: none;
    ul,
    ol {
      margin-left: 1.5rem;
    }
  }
