// src/components/Menu/Menu.module.scss

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 0% 10%;
  margin-top: 5%;
  box-sizing: border-box;
  z-index: 1;
}

.imagecontainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: 5% 5%;
  z-index: 2;
}

.Recordimage,
.Shinkanimage,
.Qaimage,
.Memberimage {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

.Loginimage {
  display: block;
  width: 75%;
  height: auto;
  margin: 20px auto 10px;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

.Recordimage:hover,
.Shinkanimage:hover,
.Qaimage:hover,
.Memberimage:hover,
.Loginimage:hover {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .imagecontainer{
    margin-top: 30%;
  }
}

