// src/components/Menu/Menu.module.scss

.container {
  position: relative;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  height: 100vh;
  padding: 10%;
  z-index: 1;
}

.imagecontainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 2;
}

.Recordimage,
.Shinkanimage,
.Qaimage,
.Memberimage {
  display: block;
  width: 100%;
  height: auto;
  max-width: 90%;
  max-height: auto;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

.Loginimage {
  display: block;
  width: 75%;
  height: auto;
  max-width: 90%;
  max-height: auto;
  margin-top: 10%;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

.Recordimage:hover,
.Shinkanimage:hover,
.Qaimage:hover,
.Memberimage:hover,
.Loginimage:hover {
  transform: scale(1.05);
}

// 低身長ディスプレイ対応
@media (min-width: 900px) and (max-height: 700px) {
  .container {
    padding: 5%;
  }
  
  .Recordimage,
  .Shinkanimage,
  .Qaimage,
  .Memberimage {
    margin-bottom: 10px;
  }
  
  .Loginimage {
    margin-top: 5%;
  }
}

@media (min-width: 900px) and (max-height: 550px) {
  .container {
    padding: 3%;
  }
  
  .Recordimage,
  .Shinkanimage,
  .Qaimage,
  .Memberimage {
    margin-bottom: 5px;
  }
  
  .Loginimage {
    margin-top: 3%;
  }
}

// モバイル対応
@media (max-width: 900px) {
  .container {
    margin-top: 10%;
    height: 100vh;
    padding: 5%;
  }
  
  .imagecontainer{
    padding: 5%;
  }
}