---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('tsuri');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title} type="釣果記録">
    <div class="wrapper">
        <script async="" src="https://embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        <Content />
    </div>
</MainLayout>

<style lang="scss">
    .wrapper {
        text-align: center;
        font-size: 1.5rem !important;
    }
</style>