---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('other');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title} type={entry.data.type ?? 'その他の活動記録'} typeImg={entry.data.typeImg ?? 'title-other.jpg'}>
    <div class="wrapper">
        <script async="" src="/src/assets/flickr-client-code.js" charset="utf-8"></script>
        <Content />
    </div>
</MainLayout>

<style lang="scss">
    .wrapper {
        text-align: center;
        font-size: 1.5rem !important;
    }
</style>