---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import "github-markdown-css/github-markdown.css";
import "../../assets/markdown.scss";

export async function getStaticPaths() {
    const blogEntries = await getCollection("yama");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout
    title={entry.data.title}
    type="山行記録"
    breadcrumbs={[
        {title: "山行記録", href: "/yama/"},
        ...entry.data.breadcrumbs.map((b) => ({title: b.title, href: "/yama"+b.href})),
    ]}
>
    <div class="markdown-body">
        <script is:inline async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        <Content />
    </div>
</MainLayout>
