---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import yama from "../assets/yama.jpg";
import tsuri from "../assets/tsuri.jpg";
import tabi from "../assets/tabi.gif";
import other from "../assets/other.jpg";
---

<BaseLayout
    title="自然に親しむ会"
    breadcrumbs={[{ title: "Top" }]}
    rich_result={[{
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "東北大学 自然に親しむ会",
        alternateName: ["自然に親しむ会","自親会"],
        url: Astro.url.origin + "/",
    }]}
>
    <main>
        <div class="img_row">
            <a href="yama/">
                <Image src={yama} alt="山行記録" />
            </a>
            <a href="tsuri/">
                <Image src={tsuri} alt="釣果記録" />
            </a>
            <a href="tabi/">
                <Image src={tabi} alt="旅行記" />
            </a>
            <a href="other/">
                <Image src={other} alt="その他の活動" />
            </a>
        </div>
        <div class="links">
            <p><a href="other/shinkan2024">新歓情報</a></p>
            <p><a href="member/">部員紹介</a></p>
            <p><a href="qa/">よくある質問</a></p>
        </div>
    </main>
</BaseLayout>

<style lang="scss">
    main {
        margin: auto;
        max-width: calc(235px * 4);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .img_row {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: center;

        a {
            width: 25%;
            max-width: 235px;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .links {
        font-size: 1.5rem;
        text-align: center;
    }
</style>
