.container {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
  
  .container:hover {
    transform: scale(1.05);
  } 
  
  .Frontimagecontainer {
    width: 47%;
    height: auto;
    position: relative;
    transform: rotate(-6.65deg);
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .Middleimagecontainer {
    width: 80%;
    height: auto;
    position: absolute;
    transform: rotate(-7deg);
    transition: transform 0.3s ease;
    z-index: -1;
    left: 65%;
    top: 55%;
  }
  
  .Backimagecontainer {
    width: 80%;
    height: auto;
    position: absolute;
    transform: rotate(4deg);
    transition: transform 0.3s ease;
    z-index: -2;
    left: 130%;
    top: 30%;
  }
  
  .image {
    display: block;
    background-color: white;
    padding: 5%;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .sticker {
    position: absolute;
    aspect-ratio: 1;
    transform: rotate(6.65deg);
    z-index: 3;
    left: 90%;
    top: 40%;
    width: 130%;
    height: auto;
  }
  
  .triangletop {
    position: absolute;
    left: -2%;
    bottom: -4%;
    width: 20%;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: #C9BDA8;
    z-index: 2;
  }
  
  .trianglebuttom {
    position: absolute;
    right: -2%;
    top: -4%;
    width: 20%;
    aspect-ratio: 1;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: #C9BDA8;
    z-index: 2;
  }