.markdown-body {
    text-align: center;
    width: 100%;
    padding: 20px;

    background-color: transparent;

    > ul, ol, table, blockquote, .markdown-alert {
        text-align: initial;
        width: fit-content;
        margin: auto;
    }

    > * {
        margin-bottom: 2rem !important;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}